/*CSS reset settings here*/
*{
 margin: 5px;
 padding: 5px;
 vertical-align: top
}
#wrapper{
 width: 950px;
 background-color: silver;
 margin: 10px auto;
}
#header{
 min-height: 150px;
 background-color: green;
 margin: 10px;
}
#navigation{
 min-height: 300px;
 width: 200px;
 background-color: blue;
 display: inline-block;
 margin-left: 10px;
}
#main_content{
 min-height: 400px;
 width: 700px;
 background-color: red;
 display: inline-block;

}
.subcontents{
 min-height: 200px;
 width: 210px;
 background-color: yellow;
 display: inline-block;
 margin-bottom: 15px;
}
#advertisement{
 min-height: 120px;
 width: 660px;
 background-color: purple;
 display: inline-block;
 margin: 10px;
}
